/* =========================
	Project Name: Alireviews
	Author: PhamThong
	Version: 1.0.0
============================ */
/* BASE - Base styles, variable, mixins, etc */
@font-face {
  font-family: 'NotoSansRegular';
  src: url("../fonts/NotoSansRegular/NotoSansRegular.eot");
  src: url("../fonts/NotoSansRegular/NotoSansRegular.eot") format("embedded-opentype"), url("../fonts/NotoSansRegular/NotoSansRegular.woff2") format("woff2"), url("../fonts/NotoSansRegular/NotoSansRegular.woff") format("woff"), url("../fonts/NotoSansRegular/NotoSansRegular.ttf") format("truetype"), url("../fonts/NotoSansRegular/NotoSansRegular.svg#NotoSansRegular") format("svg");
}

@-webkit-keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

/* 2D TRANSITIONS */
/* BACKGROUND TRANSITIONS */
/* BORDER TRANSITIONS */
/* SHADOW/GLOW TRANSITIONS */
/* SPEECH BUBBLES */
/* ICONS */
/* CURLS */
/* PAGES - styles */
/* PAGES - Contact */
/* PAGES - Home */
/* LAYOUTS - styles */
/* LAYOUTS - styles */
.main-header {
  max-height: 70px;
}

/* RESPONSIVE - Page layout styles mobile */
@media only screen and (max-width: 1200px) {
  .text-align-lg-r {
    text-align: right !important;
  }
  .text-align-lg-l {
    text-align: left !important;
  }
  .text-align-lg-c {
    text-align: center !important;
  }
  .text-align-lg- {
    text-align: inherit !important;
  }
  .hidden-lg-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .text-align-md-r {
    text-align: right !important;
  }
  .text-align-md-l {
    text-align: left !important;
  }
  .text-align-md-c {
    text-align: center !important;
  }
  .text-align-md- {
    text-align: inherit !important;
  }
  .hidden-md-down {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .text-align-sm-r {
    text-align: right !important;
  }
  .text-align-sm-l {
    text-align: left !important;
  }
  .text-align-sm-c {
    text-align: center !important;
  }
  .text-align-sm- {
    text-align: inherit !important;
  }
  .hidden-sm-down {
    display: none !important;
  }
}

@media only screen and (max-width: 544px) {
  .text-align-xs-r {
    text-align: right !important;
  }
  .text-align-xs-l {
    text-align: left !important;
  }
  .text-align-xs-c {
    text-align: center !important;
  }
  .text-align-xs- {
    text-align: inherit !important;
  }
  .hidden-xs-down {
    display: none !important;
  }
  .media--point .media-body--write-new button {
    position: static;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 544px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
}
