@media only screen and (max-width: 1200px) { 
	.text-align-lg-r { text-align: right !important; }
	.text-align-lg-l { text-align: left !important; }
	.text-align-lg-c { text-align: center !important; }
	.text-align-lg- { text-align: inherit !important; }
	.hidden-lg-down {display: none !important;}
}

@media only screen and (max-width: 992px) { 
	.text-align-md-r { text-align: right !important; }
	.text-align-md-l { text-align: left !important; }
	.text-align-md-c { text-align: center !important; }
	.text-align-md- { text-align: inherit !important; }
	.hidden-md-down {display: none !important;}
}

@media only screen and (max-width: 768px) {
	.text-align-sm-r { text-align: right !important; }
	.text-align-sm-l { text-align: left !important; }
	.text-align-sm-c { text-align: center !important; }
	.text-align-sm- { text-align: inherit !important; }
	.hidden-sm-down {display: none !important;}

	.nav {
	    margin: initial;

	    li > a {
    	    line-height: 50px !important;
	    }

	    li {
	    	float: left;
	    }
	}

	.main-header {
		max-height: 140px !important;

		.logo {
			width: 100% !important;
		}

		nav.navbar {
			width: 100% !important;
			margin-left: 0 !important;
			box-shadow: 0 0 0;
		    border-bottom: solid 1px #caced5;
		}
	}

	aside.main-sidebar {
		padding-top: 140px;
		left: -260px;
	}

	.content-wrapper {
		padding-left: 0;

		.space_wrapper {
			margin-left: 0;
		}
	}
}

@media only screen and (max-width: 544px) { 
	.text-align-xs-r { text-align: right !important; }
	.text-align-xs-l { text-align: left !important; }
	.text-align-xs-c { text-align: center !important; }
	.text-align-xs- { text-align: inherit !important; }
	.hidden-xs-down {display: none !important;}

	.media--point .media-body--write-new button {
		position: static;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 544px) { 
	.hidden-xs-up {display: none !important;}
}

@media only screen and (min-width: 768px) { 
	.hidden-sm-up {display: none !important;}
}

@media only screen and (min-width: 992px) { 
	.hidden-md-up {display: none !important;}
}

@media only screen and (min-width: 1200px) { 
	.hidden-lg-up {display: none !important;}
}

@media screen and (min-width:992px) and (max-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width:992px) {
}

@media screen and (min-width: 544px) and (max-width:768px) {
}

@media screen and (min-width: 320px) and (max-width:544px) {
}
