@media only screen and (max-width: 1200px) { 
	.text-align-lg-r { text-align: right; }
	.text-align-lg-l { text-align: left; }
	.text-align-lg-c { text-align: center; }
	.text-align-lg- { text-align: inherit; }
	.hidden-lg-down {display: none;}
}

@media only screen and (max-width: 992px) { 
	.text-align-md-r { text-align: right; }
	.text-align-md-l { text-align: left; }
	.text-align-md-c { text-align: center; }
	.text-align-md- { text-align: inherit; }
	.hidden-md-down {display: none;}
}

@media only screen and (max-width: 768px) {
	.text-align-sm-r { text-align: right; }
	.text-align-sm-l { text-align: left; }
	.text-align-sm-c { text-align: center; }
	.text-align-sm- { text-align: inherit; }
	.hidden-sm-down {display: none;}
}

@media only screen and (max-width: 544px) { 
	.text-align-xs-r { text-align: right; }
	.text-align-xs-l { text-align: left; }
	.text-align-xs-c { text-align: center; }
	.text-align-xs- { text-align: inherit; }
	.hidden-xs-down {display: none;}
}

@media only screen and (min-width: 544px) { 
	.hidden-md-up {display: none;}
}

@media only screen and (min-width: 768px) { 
	.hidden-md-up {display: none;}
}

@media only screen and (min-width: 992px) { 
	.hidden-md-up {display: none;}
}

@media only screen and (min-width: 1200px) { 
	.hidden-lg-up {display: none;}
}

@media screen and (min-width:992px) and (max-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width:992px) {
}

@media screen and (min-width: 544px) and (max-width:768px) {
}

@media screen and (min-width: 320px) and (max-width:544px) {
}
