.welcome-page {
	.wrapper-box_ {
	    padding-top: 130px;
    	padding-bottom: 300px;
    	max-width: 500px;

    	button {
    		width: 110px;
    	}

    	.pad-left-70 {
    		padding-left: 70px;
    	}
	}
}